@media only screen and (max-width: 600px) {
  td[id="social-media"] img {
    width: 40px !important;
    height: 40px !important;
  }
  #go-higher-hashtag {
    width: 132px !important;
  }
  #cune-logo {
    width: 161px !important;
  }
  td[class="center-content"] {
    text-align: center !important;
  }
  td[class="center-content"] img {
    float: none !important;
    display: inline !important;
  }
}
