<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% if content.html_title and content.html_title != '' %}{{ content.html_title }}{% else %}{{ content.body.subject }}{% endif %}</title>
    {% if content.meta_description %}<meta name="description" content="{{ content.meta_description }}"/>{% endif %}

    <link type="text/css" rel="stylesheet" href="../css/ink.css" />
    <!-- Styles will be injected into <style> tag -->
    <link type="text/css" rel="stylesheet" href="../css/ink-mq.css" data-embed />
    <link rel="stylesheet" href="../css/all.css" />
    <!-- Styles will be injected into <style> tag -->
    <link type="text/css" rel="stylesheet" href="../css/mq.css" data-embed />
</head>
<body>
    <table class="body">
        <tr>
            <td class="center" align="center" valign="top">
                <center>
                    <!-- Email Content -->
                    <span class="preview-text" style="display: none !important;">{% text "preview_text" label="Preview Text <span class=help-text>This will be used as the preview text displayed in the inbox of some email clients. It <strong>will not</strong> be displayed in the email. You should use between 50 - 85 characters.</span>", value="" %}</span>
                    <!-- View as webpage link -->
                    {% if content.create_page %}
                        <div id="cune-web-option">
                            Not rendering correctly? <a class="hubspot-mergetag" data-viewaswebpage="true" href="{{ view_as_page_url }}">View this email as a web page</a>.
                        </div>
                    {% endif %}
                    <script type="application/ld+json">
                        {% raw_html "json_ld" label='Enter JSON+ld <span class="help-text">Leverage Schema.org for better Gmail support</span>' %}
                    </script>
                    <table id="header" width="100%">
                        <tr>
                            <td class="center" align="center">
                                <center>
                                    <table class="container">
                                        <tr>
                                            <td class="row">
                                                <table>
                                                    <tr>
                                                        <td class="wrapper last">
                                                            <table class="twelve columns">
                                                                <tr>
                                                                    <td class="six sub-columns">
                                                                        <img src="http://info.cune.edu/hs-fs/hub/213616/file-1290180485-png/logos/logo_white.png" width="161" height="35" id="cune-logo" />
                                                                    </td>
                                                                    <td class="six sub-columns last" align="right">
                                                                        <span class="template-label right" align="right">
                                                                            {% text "header_cta_label" label='Header CTA Label', export_to_template_context=True %}
                                                                            {% text "header_cta_url" label='Header CTA url', export_to_template_context=True %}
                                                                            {% if widget_data.header_cta_label.value and widget_data.header_cta_url.value != '' %}
                                                                                <a href="{{ widget_data.header_cta_url.value }}" class="cune-header-cta" style="text-decoration: none; color: #ffffff; border-radius: 3px; background-color: rgba(255, 255, 255, 0.19999999999999996); padding: 12px 24px; text-align: right;">{{ widget_data.header_cta_label.value }}</a>
                                                                            {% endif %}
                                                                        </span>
                                                                    </td>
                                                                    <td class="expander"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table> 
                                </center>
                            </td>
                        </tr>
                    </table>
                    <table id="main-content">
                        <tr>
                            <td class="center" align="center">
                                <center>
                                    <table class="container">
                                        <tr>
                                            <td>
                                                <table class="row">
                                                    <tr>
                                                        <td align="center" class="wrapper last">
                                                            <table class="columns twelve">
                                                                <tr>
                                                                    <td>
                                                                    <!-- End Header -->
                                                                    <!-- Start Main -->
<div data-hubspot-form-id="emailbody" class="hubspot-editable">
    <!--
    <table width="100%" class="toc-box" align="center">
        <tr>
            <td class="">
                <span class="toc-headline">In This Issue</span>
                <ol>
                    <li>
                        <a href="#">Spring term honors students named</a>
                    </li>
                    <li>
                        <a href="#">Theatre honor society inducts new members</a>
                    </li>
                    <li>
                        <a href="#">May 2015 distinguished graduates</a>
                    </li>
                </li>
            </td>
        </tr>
    </table>
    -->
    <table class="cune-card">
        <tr>
            <td align="center">
                <table width="100%" align="center" class="cune-story-image">
                    <tr>
                        <td align="center">
                            <img src="http://www.cune.edu/files/7314/3292/5460/2TsYKDACXFhkgb07wkOF.jpg" alt="this is a test" />
                            {% image "hero_image" label='Hero Image', alt='Hero Image', src='https://placeholdit.imgix.net/~text?txtsize=50&txt=580%C3%97326&w=580&h=326' width='580' %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46">
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="center">
                <table width="85%" align="center" class="cune-story-headline">
                    <tr>
                        <td align="center">
                            {% text "main_headline" label='Main Headline', value="Speak to your audience" %}    
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="25">
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="center">
                <table width="78%" class="cune-story-content" align="center">
                    <tr>
                        <td align="center">
                            {% rich_text "main_content" label="Main Content Area" html='<div>Tell them something they want to hear!</div>' %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46">
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table class="cune-story-cta" align="center">
                    <tr>
                        <td align="center">
                            <!-- Insert CTA -->
                            {% rich_text "main_content_cta" label="Main Content CTA" html='<a href="#" class="cune-card-cta" style="text-decoration: none; color: #ffffff; border-radius: 3px; background-color: #002855; padding: 12px 24px;">Card CTA</a>' %}
                            <!-- End CTA -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46">
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table width="90%" align="center">
                    <tr>
                        <td class="wrapper last centered">
                            {% widget_block rich_text "sign_off" overrideable=True, label='Sign Off', no_wrapper=True  %}
                                {% widget_attribute "html" %}
                                <table class="cune-opening-content row" align="center">
                                    <tr>
                                        <td class="wrapper">
                                            <table class="columns three">
                                                    <td class="center-content">
                                                        <img src="http://www.cune.edu/files/cache/f8f409aceeab34c617023ae7e92c2201_f7658.jpg" alt="Photo of Adam Hengeveld" class="cune-teal circle-headshot">
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="wrapper last">
                                            <table class="columns seven">
                                                    <td class="center-content">
                                                        Sign off here
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="expander"></td>
                                    </tr>
                                </table>
                                {% end_widget_attribute %}
                            {% end_widget_block %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46">
            <td>&nbsp;</td>
        </tr>
    </table>
    <!-- Start Extra Card 1 -->
    {% text "article1_header" label='Article 1 Headline', export_to_template_context=True, no_wrapper=True %}
    {% rich_text "article1_content" label='Article 1 Content', export_to_template_context=True, no_wrapper=True %}
    {% if widget_data.article1_header.value and widget_data.article1_content.html != '' %}
    <table class="cune-card">
        <tr>
            <td align="center">
                <table width="100%" align="center" class="cune-story-image">
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% image "article1_hero_image" label='Article 1 Hero Image', alt='Article 1 Hero Image', src='https://placeholdit.imgix.net/~text?txtsize=50&txt=580%C3%97326&w=580&h=326', width='580', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; border-radius: 3px 3px 0 0;' %}
                        {% if widget_data.article1_header.value and widget_data.article1_content.html != '' %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="85%" align="center" class="cune-story-headline" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article1_header.value }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="25" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="78%" class="cune-story-content" align="center" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article1_content.html }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" valign="top" >
                <table class="cune-story-cta" align="center" >
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% rich_text "article1_cta" label="Article 1 CTA" html='<a href="#" class="cune-card-cta" >Card CTA</a>' %}
                        {% if widget_data.article1_header.value and widget_data.article1_content.html != '' %}    
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="75" >
            <td>&nbsp;</td>
        </tr>
    </table>
    {% endif %}
    <!-- End Extra Card 1 -->
    <!-- Start Extra Card 2 -->
    {% text "article2_header" label='Article 2 Headline', export_to_template_context=True, no_wrapper=True %}
    {% rich_text "article2_content" label='Article 2 Content', export_to_template_context=True, no_wrapper=True %}
    {% if widget_data.article2_header.value and widget_data.article2_content.html != '' %}
    <table class="cune-card">
        <tr>
            <td align="center">
                <table width="100%" align="center" class="cune-story-image">
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% image "article2_hero_image" label='Article 2 Hero Image', alt='Article 2 Hero Image', src='https://placeholdit.imgix.net/~text?txtsize=50&txt=580%C3%97326&w=580&h=326', width='580', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; border-radius: 3px 3px 0 0;' %}
                        {% if widget_data.article2_header.value and widget_data.article2_content.html != '' %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="85%" align="center" class="cune-story-headline" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article2_header.value }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="25" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="78%" class="cune-story-content" align="center" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article2_content.html }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" valign="top" >
                <table class="cune-story-cta" align="center" >
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% rich_text "article2_cta" label="Article 2 CTA" html='<a href="#" class="cune-card-cta" >Card CTA</a>' %}
                        {% if widget_data.article2_header.value and widget_data.article2_content.html != '' %}    
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="75" >
            <td>&nbsp;</td>
        </tr>
    </table>
    {% endif %}
    <!-- End Extra Card 2 -->
    <!-- Start Extra Card 3 -->
    {% text "article3_header" label='Article 3 Headline', export_to_template_context=True, no_wrapper=True %}
    {% rich_text "article2_content" label='Article 3 Content', export_to_template_context=True, no_wrapper=True %}
    {% if widget_data.article3_header.value and widget_data.article3_content.html != '' %}
    <table class="cune-card">
        <tr>
            <td align="center">
                <table width="100%" align="center" class="cune-story-image">
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% image "article3_hero_image" label='Article 3 Hero Image', alt='Article 3 Hero Image', src='https://placeholdit.imgix.net/~text?txtsize=50&txt=580%C3%97326&w=580&h=326', width='580', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; border-radius: 3px 3px 0 0;' %}
                        {% if widget_data.article3_header.value and widget_data.article3_content.html != '' %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="85%" align="center" class="cune-story-headline" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article3_header.value }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="25" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="78%" class="cune-story-content" align="center" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article3_content.html }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" valign="top" >
                <table class="cune-story-cta" align="center" >
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% rich_text "article3_cta" label="Article 3 CTA" html='<a href="#" class="cune-card-cta" >Card CTA</a>' %}
                        {% if widget_data.article3_header.value and widget_data.article3_content.html != '' %}    
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="75" >
            <td>&nbsp;</td>
        </tr>
    </table>
    {% endif %}
    <!-- End Extra Card 3 -->
    <!-- Start Extra Card 4 -->
    {% text "article4_header" label='Article 4 Headline', export_to_template_context=True, no_wrapper=True %}
    {% rich_text "article4_content" label='Article 4 Content', export_to_template_context=True, no_wrapper=True %}
    {% if widget_data.article4_header.value and widget_data.article4_content.html != '' %}
    <table class="cune-card">
        <tr>
            <td align="center">
                <table width="100%" align="center" class="cune-story-image">
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% image "article4_hero_image" label='Article 4 Hero Image', alt='Article 4 Hero Image', src='https://placeholdit.imgix.net/~text?txtsize=50&txt=580%C3%97326&w=580&h=326', width='580', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; border-radius: 3px 3px 0 0;' %}
                        {% if widget_data.article4_header.value and widget_data.article4_content.html != '' %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="85%" align="center" class="cune-story-headline" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article4_header.value }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="25" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="78%" class="cune-story-content" align="center" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article4_content.html }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" valign="top" >
                <table class="cune-story-cta" align="center" >
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% rich_text "article4_cta" label="Article 4 CTA" html='<a href="#" class="cune-card-cta" >Card CTA</a>' %}
                        {% if widget_data.article4_header.value and widget_data.article4_content.html != '' %}    
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="75" >
            <td>&nbsp;</td>
        </tr>
    </table>
    {% endif %}
    <!-- End Extra Card 4 -->
    <!-- Start Extra Card 5 -->
    {% text "article5_header" label='Article 5 Headline', export_to_template_context=True, no_wrapper=True %}
    {% rich_text "article5_content" label='Article 5 Content', export_to_template_context=True, no_wrapper=True %}
    {% if widget_data.article5_header.value and widget_data.article5_content.html != '' %}
    <table class="cune-card">
        <tr>
            <td align="center">
                <table width="100%" align="center" class="cune-story-image">
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% image "article5_hero_image" label='Article 5 Hero Image', alt='Article 5 Hero Image', src='https://placeholdit.imgix.net/~text?txtsize=50&txt=580%C3%97326&w=580&h=326', width='580', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; border-radius: 3px 3px 0 0;' %}
                        {% if widget_data.article5_header.value and widget_data.article5_content.html != '' %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="85%" align="center" class="cune-story-headline" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article5_header.value }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="25" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="78%" class="cune-story-content" align="center" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article5_content.html }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" valign="top" >
                <table class="cune-story-cta" align="center" >
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% rich_text "article5_cta" label="Article 5 CTA" html='<a href="#" class="cune-card-cta" >Card CTA</a>' %}
                        {% if widget_data.article5_header.value and widget_data.article5_content.html != '' %}    
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="75" >
            <td>&nbsp;</td>
        </tr>
    </table>
    {% endif %}
    <!-- End Extra Card 5 -->
    <!-- Start Extra Card 6 -->
    {% text "article6_header" label='Article 6 Headline', export_to_template_context=True, no_wrapper=True %}
    {% rich_text "article6_content" label='Article 4 Content', export_to_template_context=True, no_wrapper=True %}
    {% if widget_data.article6_header.value and widget_data.article6_content.html != '' %}
    <table class="cune-card">
        <tr>
            <td align="center">
                <table width="100%" align="center" class="cune-story-image">
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% image "article6_hero_image" label='Article 6 Hero Image', alt='Article 6 Hero Image', src='https://placeholdit.imgix.net/~text?txtsize=50&txt=580%C3%97326&w=580&h=326', width='580', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; border-radius: 3px 3px 0 0;' %}
                        {% if widget_data.article6_header.value and widget_data.article6_content.html != '' %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="85%" align="center" class="cune-story-headline" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article6_header.value }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="25" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="78%" class="cune-story-content" align="center" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article6_content.html }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" valign="top" >
                <table class="cune-story-cta" align="center" >
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% rich_text "article6_cta" label="Article 6 CTA" html='<a href="#" class="cune-card-cta" >Card CTA</a>' %}
                        {% if widget_data.article6_header.value and widget_data.article6_content.html != '' %}    
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="75" >
            <td>&nbsp;</td>
        </tr>
    </table>
    {% endif %}
    <!-- End Extra Card 6 -->
    <!-- Start Extra Card 7 -->
    {% text "article7_header" label='Article 7 Headline', export_to_template_context=True, no_wrapper=True %}
    {% rich_text "article7_content" label='Article 7 Content', export_to_template_context=True, no_wrapper=True %}
    {% if widget_data.article7_header.value and widget_data.article7_content.html != '' %}
    <table class="cune-card">
        <tr>
            <td align="center">
                <table width="100%" align="center" class="cune-story-image">
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% image "article7_hero_image" label='Article 7 Hero Image', alt='Article 7 Hero Image', src='https://placeholdit.imgix.net/~text?txtsize=50&txt=580%C3%97326&w=580&h=326', width='580', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; border-radius: 3px 3px 0 0;' %}
                        {% if widget_data.article7_header.value and widget_data.article7_content.html != '' %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="85%" align="center" class="cune-story-headline" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article7_header.value }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="25" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="78%" class="cune-story-content" align="center" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article7_content.html }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" valign="top" >
                <table class="cune-story-cta" align="center" >
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% rich_text "article7_cta" label="Article 7 CTA" html='<a href="#" class="cune-card-cta" >Card CTA</a>' %}
                        {% if widget_data.article7_header.value and widget_data.article7_content.html != '' %}    
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="75" >
            <td>&nbsp;</td>
        </tr>
    </table>
    {% endif %}
    <!-- End Extra Card 7 -->
    <!-- Start Extra Card 8 -->
    {% text "article8_header" label='Article 8 Headline', export_to_template_context=True, no_wrapper=True %}
    {% rich_text "article8_content" label='Article 8 Content', export_to_template_context=True, no_wrapper=True %}
    {% if widget_data.article8_header.value and widget_data.article8_content.html != '' %}
    <table class="cune-card">
        <tr>
            <td align="center">
                <table width="100%" align="center" class="cune-story-image">
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% image "article8_hero_image" label='Article 8 Hero Image', alt='Article 8 Hero Image', src='https://placeholdit.imgix.net/~text?txtsize=50&txt=580%C3%97326&w=580&h=326', width='580', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; border-radius: 3px 3px 0 0;' %}
                        {% if widget_data.article8_header.value and widget_data.article8_content.html != '' %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="85%" align="center" class="cune-story-headline" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article8_header.value }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="25" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" >
                <table width="78%" class="cune-story-content" align="center" >
                    <tr >
                        <td align="center" >
                            {{ widget_data.article8_content.html }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="46" >
            <td >&nbsp;</td>
        </tr>
        <tr >
            <td align="center" valign="top" >
                <table class="cune-story-cta" align="center" >
                    <tr >
                        <td align="center" >
                        {% endif %}
                            {% rich_text "article8_cta" label="Article 8 CTA" html='<a href="#" class="cune-card-cta" >Card CTA</a>' %}
                        {% if widget_data.article8_header.value and widget_data.article8_content.html != '' %}    
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="75" >
            <td>&nbsp;</td>
        </tr>
    </table>
    {% endif %}
    <!-- End Extra Card 8 -->
</div>
                                                                     <!-- End Main -->
                                                                     <!-- Start Footer -->
                                                                     </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td class="expander">
                                                            
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>                                            
                                    </table>
                                </center>
                            </td>
                        </tr>
                    </table>
                    <table id="footer">
                        <tr>
                            <td>
                                <center>
                                    <table class="container">
                                        <tr>
                                            <td>
                                                <table class="row">
                                                    <tr>
                                                        <td class="wrapper last">
                                                            <table>
                                                                <tr>
                                                                    <td id="social-media" class="center">
                                                                        <center>
                                                                        <!-- #Start-HubHL# Facebook Icon -->
                                                                            {% linked_image "facebook_icon" label="Facebook", align="right", no_wrapper=True, alt="Join us on Facebook", height=50,  link="https://www.facebook.com/concordianebraska", src="http://www.cune.edu/files/8014/3345/1331/Facebook.png", width=50, style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; clear: both; border: none; width: 43px; float: none; display: inline; margin: 0 3px;" %}
                                                                        <!-- #End-HubHL# Facebook Icon -->
                                                                        <!-- #Start-HubHL# Twitter Icon -->
                                                                            {% linked_image "twitter_icon" label="Twitter", align="right", no_wrapper=True, alt="Follow us on Twitter", height=50,  link="https://www.twitter.com/cune", src="http://www.cune.edu/files/2814/3345/1461/Twitter.png", width=50, style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; clear: both; border: none; width: 43px; float: none; display: inline; margin: 0 3px;" %}
                                                                        <!-- #End-HubHL# Twitter Icon -->
                                                                        <!-- #Start-HubHL# LinkedIn Icon -->
                                                                            {% linked_image "linkedin_icon" label="LinkedIn", align="right", no_wrapper=True, alt="Join us on LinkedIn", height=50,  link="http://www.linkedin.com/groups?gid=3721035&amp;trk=myg_ugrp_ovr", src="http://www.cune.edu/files/3214/3345/1461/LinkendIn.png", width=50, style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; clear: both; border: none; width: 43px; float: none; display: inline; margin: 0 3px;" %}
                                                                        <!-- #End-HubHL# LinkedIn Icon -->
                                                                        <!-- #Start-HubHL# Instagram Icon -->
                                                                            {% linked_image "instagram_icon" label="Instagram", align="right", no_wrapper=True, alt="Follow us on Instagram", height=50, link="http://instagram.com/concordianebraska/", src="http://www.cune.edu/files/4414/3345/1461/Instagram.png", width=50, style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; clear: both; border: none; width: 43px; float: none; display: inline; margin: 0 3px;" %}
                                                                        <!-- #End-HubHL# Instagram Icon -->
                                                                        <!-- #Start-HubHL# YouTube Icon -->
                                                                            {% linked_image "youtube_icon" label="YouTube", align="right", no_wrapper=True, alt="Subscribe on YouTube", height=50,  link="https://www.youtube.com/user/concordianebraska", src="http://www.cune.edu/files/1414/3345/1461/YouTube.png", width=50, style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; clear: both; border: none; width: 43px; float: none; display: inline; margin: 0 3px;" %}
                                                                        <!-- #End-HubHL# YouTube Icon -->
                                                                        <!-- #Start-HubHL# Google+ Icon -->
                                                                            {% linked_image "google_icon" label="Google", align="right", no_wrapper=True, alt="Follow us on Google+", height=50,  link="https://plus.google.com/107374583215130835483", src="http://www.cune.edu/files/5214/3345/1461/Google.png", width=50, style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; max-width: 100%; clear: both; border: none; width: 43px; float: none; display: inline; margin: 0 3px;" %}
                                                                        <!-- #End-HubHL# YouTube Icon -->
                                                                        <!-- #Start-HubHL# Google+ Icon -->
                                                                        </center>
                                                                    </td>
                                                                </tr>
                                                                <tr height="46">
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="center">
                                                                        <center>
                                                                            <img src="http://www.cune.edu/files/6014/3344/9017/gohigher-hashtag-tan.png" height="42" width="132" id="go-higher-hashtag" />
                                                                        </center>
                                                                    </td>
                                                                </tr>
                                                                <tr height="25">
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="opt-out" class="center">
                                                                        <center>
                                                                            {{ site_settings.company_name }} | {{ site_settings.company_street_address_1 }} | {{ site_settings.company_city }}, {{ site_settings.company_state }} {{ site_settings.company_zip }}<br />{{ unsubscribe_section }}
                                                                        </center>
                                                                    </td>
                                                                </tr>
                                                                <tr height="46">
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td class="expander"></td>
                                                    </tr>
                                                </table>                                                
                                            </td>
                                        </tr>                                            
                                    </table>
                                </center>
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>
</body>
</html>